@import "tailwindcss";
@import 'normalize.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Reset some styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.75rem;
  font-weight: 600;
  letter-spacing: -0.025em;
  margin-bottom: 0.75rem;
  padding: 2rem 0 1rem 0;;
}

h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.dot-notation {
  display: flex;
  text-align: center;
  font-family: monospace;
  align-items: center;
}

.copy-toast {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  transform: translateY(-45px) translateX(-50%);
  opacity: 1;
  transition: opacity 0.2s;
}

.numeric {
  display: flex;
  text-align: center;
  font-family: monospace;
}

.dot {
  width: 0.5em;
}

.decimal {
  width: 3em;
}

.prefix {
  width: 2.5em;
}

input {
  padding: 0.5rem;
  border: 2px solid color-mix(in srgb, var(--background) 80%, var(--foreground));
  border-radius: 4px;
  background-color: color-mix(in srgb, var(--background) 98%, var(--foreground));
  color: var(--foreground);
  transition: all 0.2s ease;
}

input:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
}

input::placeholder {
  color: color-mix(in srgb, var(--background) 60%, var(--foreground));
}

.button {
  border: 1px solid color-mix(in srgb, var(--background) 80%, var(--foreground));
  border-radius: 4px;
  cursor: pointer;
  padding: 0.1rem;
}

.button:hover {
  background: color-mix(in srgb, var(--background) 85%, var(--foreground));
}

table {
  border-collapse: collapse;
  margin: 1rem 0;
  border-radius: 8px;
}

th {
  font-weight: 600;
  border: 1px solid color-mix(in srgb, var(--background) 90%, var(--foreground));
}

td {
  border: 1px solid color-mix(in srgb, var(--background) 90%, var(--foreground));
  padding: 0.1rem;
  font-size: 1rem;
}

tr:hover {
  background: color-mix(in srgb, var(--background) 95%, var(--foreground));
}
